
@{
    ViewBag.Title = "Roles";
}


<script src="~/Scripts/Generals.js"></script>
<script src="~/Scripts/Roles.js"></script>



<h2>Roles</h2>



<div id="container">

</div>


<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form class="form-row" id="form">

                    <div class="col-sm">
                        <label for="ID">Id</label>
                        <input type="text" class="form-control" id="ID" name="ID">
                    </div>

                    <div class="col-sm">
                        <label for="NOMBRE">Nombre</label>
                        <input type="text" class="form-control" id="NOMBRE" name="NOMBRE" required>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="BtnEnviar" onclick= "Add()">Enviar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>